body{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

ul,a{
    list-style: none;
    text-decoration: none;
}

                    /**** Header top ****/

.header-nav{
    background: #2C291E;
    height: 200px;
}

.nav{
    margin: 0 auto;
    width: 1070px;
    display: flex;
    justify-content: space-between;
    padding: 50px 0 25px 0;
}
                

.ul-nav li {
    display: inline-block;
}

.ul-nav a {
    color: #9a6716;
    font-size: 1em;
    text-transform: uppercase;
    margin: 5px;
}

                /**** Conteúdo Principal ****/


.container{
    margin: 0 auto;
    display: grid;
    width: 1080px;
    grid-template-columns: 360px 360px 360px;
    grid-template-rows: 240px 350px 350px;
    gap: 5px;
}

.container h2{
    color:  #0b2a3be1;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 400;
    text-align: center;
    margin: 0px 0px 5px 0px;
}

            /**** Imagens da sessão ****/

.img-museu{
    grid-column: 1/3;
    top: -100px;
    position: relative;
}

.img-depoimento{
    top: -100px;
    position: relative;
}

            /**** Video  / Map ****/

.video-museu{
    margin: 5px;
    grid-column: 1;
    grid-row: 2;
}

.mapa-museu{
    margin: 5px;
    grid-column: 2;
    grid-row: 2;
}
                /**** Formatação de input ****/

.visita-fotos {
    text-align: center;
    grid-column: 3;
    grid-row: 2;
    /* border: 1px solid rgb(134, 134, 134); */
    box-shadow: 1px 1px 1px 2px rgba(185, 170, 170, 0.322);
}        

.visita-fotos label{
    display: block;
    font-size: 1em;
    font-weight: 200;
}

.visita-fotos input{
    margin: 5px;
    width: 180px;
}

.visita-fotos #date{
    width: 120px;
    height: 20px;
}

.visita-fotos #submit{
    background-color:#0b2a3be1;
    color: rgba(255, 255, 255, 0.89);
    cursor: pointer;
    padding: 10px;
    border: none;
}

.visita-fotos h2{
    padding-top: 5px;
}